/* styles.css */
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Imagem de fundo desfocada */
body::before {
    content: '';
    position: fixed; /* Fixa a imagem de fundo */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/background.jpg'); /* Adicione o caminho da sua imagem de fundo */
    background-size: cover;
    background-position: center;
    filter: blur(5px); /* Aplica o desfoque apenas à imagem de fundo */
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente para melhorar a legibilidade */
    z-index: -1; /* Coloca o fundo branco atrás do conteúdo */
}

a {
    text-decoration: none;
    color: #1a73e8;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative; /* Garante que o conteúdo fique acima do fundo desfocado */
    z-index: 1; /* Coloca o conteúdo na frente do fundo */
}

/* Hero Section */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url('../html/assets/image1/001\ \(11\).jpeg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    color: #fff;
    text-align: center;
    margin-top: 170px;
    position: relative; /* Garante que o conteúdo fique acima do fundo desfocado */
    padding-top: 120px;
    z-index: 1; /* Coloca o conteúdo na frente do fundo */
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background-color: #1a73e8;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #1557b0;
}

