/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #857c7c;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.menu {
    display: none;
    flex-direction: column;
}

.menu.ativo {
    display: flex;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 2rem;
    background-color: #007BFF;
    color: #fff;
}

.artigo-destaque, .lista-cronicas {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.artigo-destaque img, .cronica-imagem {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.botao {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1rem;
}

.botao:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    margin-top: 2rem;
}