
$primary-dark: #33312b;
$primary-average: #504935;
$primary-light: #7a6b3d;

$secundary-dark: #a58937;
$secundary-average: #cfa423;
$secundary-light: #fabd01;

$tertiary-dark: #33302c;
$tertiary-average: #50483d;
$tertiary-light: #7a6449;

$quaternary-dark: #a57b47;
$quaternary-average: #cf8b37;
$quaternary-light: #fa9619;