header{
    width: 100%;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i {
    color: $quaternary-light;
}

.header-icons {
    display: flex;
    gap: 15px;
}

.header-icons a:hover{
    i{
        animation: translateY 0.5s infinite alternate;
        color: rgba(87, 81, 81, 0.829);
    }
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-5px) scale(1);
    }
}

img {
    border-radius: 50%;
}
.header_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.header_nav a {
    color: $quaternary-light;
    border-bottom: 5px solid $quaternary-light;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.header_nav a:hover{    
    animation: translateX 0.3s infinite alternate;
    color: rgba(87, 81, 81, 0.829);
}


